*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

:root {
    --primary: #FF2A2A;
    --secondary: #D8D8D8;
    --white: #ffffff;
    --black: #000000;
    --primarytwo: #A21E1E;
}

body {
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

.start-page {
    width: 600px;
    max-width: 80%;
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}


.quiz-header {
    padding: 10px;
}


h2 {
    padding: 6px;
    text-align: center;
    margin: 0;
}


p {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}


button {
    background-color: var(--primary);
    color: var(--black);
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin-block: 15px ;
    border-radius: 15px;
}


button:hover {
    background-color: var(--primarytwo);
}